.blog {
  position: relative;
  padding-top: 144px;
  padding-left: 66px;
  box-sizing: border-box;
  * { box-sizing: inherit; }
  .category {
    position: absolute;
    transition: top .2s 0s ease-in-out, left .2s 0s ease-in-out;
    .category-title {
      font-size: 1rem;
      position: relative;
      padding-left: 22px;
      margin: 0;
      line-height: 48px;
      color: $lightGray;
      font-weight: 100;
      width: 300px;
      height: 300px;
      border-left: 1px solid $lightGray;
      border-top: 1px solid $lightGray;
      cursor: pointer;
      transition: font .2s 0s ease-in-out;
    }
    .category-content {
      opacity: 0;
      pointer-events: none;
      transition: opacity .2s 0s ease-in-out;
      min-height: 400px; // TEMP VALUE
    }
    &.category-active {
      margin-bottom: 40px;
      position: relative;
      border-left: 1px solid $red;
      border-top: 1px solid $red;
      background-color: $white;
      z-index: 4000;
      .category-title {
        font-size: 55px;
        font-weight: 600;
        color: $red;
        padding-left: 45px;
        margin: 50px 0;
        width: unset;
        height: unset;
        border-color: transparent;
        cursor: auto;
      }
      .category-content {
        opacity: 1;
        pointer-events: all;
      }
    }
    &[data-layer="0"]  {
      z-index: 1000;
    }
    &[data-layer="1"] {
      z-index: 2000;
    }
    &[data-layer="2"] {
      z-index: 3000;
    }
  }
}