.blog {
  position: relative;
  padding-top: 144px;
  padding-left: 66px;
  box-sizing: border-box;
  * {box-sizing: inherit;}
  .category {
    position: absolute;
    top: 144px;
    cursor: pointer;
    .category-title {
      font-size: 1rem;
      position: relative;
      padding-left: 22px;
      margin: 0;
      line-height: 48px;
      color: $lightGray;
      font-weight: 100;
    }
    &.category-active {
      min-height: 400px; // TEMP VALUE
      margin-bottom: 40px;
      position: relative;
      top: 0;
      left: 0;
      border-left: 1px solid $red;
      border-top: 1px solid $red;
      background-color: $white;
      cursor: auto;
      .category-title {
        font-size: 55px;
        font-weight: 600;
        color: $red;
        padding-left: 45px;
      }
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 300px;
      height: 300px;
      border-left: 1px solid $lightGray;
      border-top: 1px solid $lightGray;
    }
    &[data-layer="1"] {
      .category-title,
      &::before {
        left: -66px;
        top: -144px;
      }
    }
    &[data-layer="2"] {
      .category-title,
      &::before {
        left: -44px;
        top: -96px;
      }
    }
    &[data-layer="3"] {
      .category-title,
      &::before {
        left: -22px;
        top: -48px;
      }
    }
    &[data-layer="4"] {
      .category-title {
        margin: 50px 0;
      }
      &::before {
        display: none;
      }
    }
  }
  .category-content {
    //height: 100%;
  }
}