.blog {
  position: relative;
  padding-top: 144px;
  padding-left: 66px;
  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
  .category {
    position: absolute;
    .category-title {
      font-size: 1rem;
      position: relative;
      padding-left: 22px;
      margin: 0;
      line-height: 48px;
      color: $gray;
      font-weight: 100;
      width: 300px;
      height: 300px;
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;
      cursor: pointer;
    }
    .category-content {
      opacity: 0;
      pointer-events: none;
    }
    &.category-active {
      margin-bottom: 40px;
      position: relative;
      border-left: 1px solid $red;
      border-top: 1px solid $red;
      background-color: $white;
      z-index: 4000;
      .category-title {
        font-size: 55px;
        font-weight: 600;
        color: $red;
        padding-left: 45px;
        margin: 50px 0;
        width: unset;
        height: unset;
        border-color: transparent;
        cursor: auto;
      }
      .category-content {
        opacity: 1;
        pointer-events: all;
        display: inline-block;
      }
    }
    .category-title--right {
      position: relative;
      vertical-align: middle;
      margin-top: 50px;
      margin-right: 260px;
      margin-bottom: 50px;
      float: right;
      text-align: right;
      display: inline-block;
      color: #999;
      .category-current-date {
        display: block;
        font-size: 45px;
        letter-spacing: 1.9px;
        margin: 0;
        &--narrow {
          font-weight: 200;
        }
        &--bold {
          font-weight: 700;
        }
      }
      .category-sort {
        font-size: 36px;
        margin-top: 24px;
        display: inline-block;
        padding-right: 26px;
        &--selected {
          color: $red;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
    &[data-layer="0"] {
      z-index: 1000;
    }
    &[data-layer="1"] {
      z-index: 2000;
    }
    &[data-layer="2"] {
      z-index: 3000;
    }
  }
  // transitions
  .category {
    transition: top .5s 0s ease-in-out, left .5s 0s ease-in-out;
    .category-title {
      //transition: font .5s 0s ease-in-out;
    }
    .category-content {
      transition: opacity .5s 0s ease-in-out;
    }
  }
}