.button {
  margin: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  height: 42px;
  text-align: center;
  white-space: nowrap;
  padding: 0 15px 3px 15px;
  background-color: $white;
  transition: all 200ms ease-out;
  &:hover {
    background-color: darken($white, 5%);
  }
  &:active {
    background-color: darken($white, 9%);
  }
  &:focus {
    outline: 0;
  }
  &__icon {
    padding-right: 7px;
    position: relative;
    top: 3px;
    font-size: 20px;
    pointer-events: none;
  }
  /*Main Theme*/
  &--main {
    border: 2px solid $red;
    color: $white;
    background-color: $red;
    &:hover {
      background-color: darken($red, 10%);
      border-color: darken($red, 10%);
    }
    &:active {
      background-color: darken($red, 20%);
      border-color: darken($red, 30%);
    }
  }
  /*Outline Theme*/
  &--outline {
    background-color: $white;
    color: $red;
    border: 1px solid $red;
    &:hover {
      border-color: darken($red, 15%);
      background-color: inherit;
    }
    &:active {
      background-color: darken($white, 7%);
      border-color: darken($red, 30%);
    }
  }
  /*Small Setup*/
  &--small {
    font-size: 12px;
    height: 29px;
    bottom: 10px;
    border-radius: 2px;
    .button__icon {
      font-size: 16px;
      padding-right: 2px;
      pointer-events: none;
    }
    &.button--icon-only {
      padding: 0 8px;
    }
  }
  /*Icon Only Setup*/
  &--icon-only {
    .button__icon {
      padding-right: 0;
    }
  }
  /*Tag*/
  &--tag {
    border: 0;
    font-size: 12px;
    height: 22px;
    border-radius: 2px;
    background-color: #F2F2F2;
    color: #A4A4A4;
    font-weight: 200;
    padding: 0 8px;
    &:hover {
      background-color: darken(#F2F2F2, 7%);
      color: darken(#A4A4A4, 12%);
      cursor: pointer;
    }
  }
  /*Disabled Buttons*/
  &--disabled {
    background-color: $lightGray;
    border: 2px solid $lightGray;
    color: darken($white, 3%);
    &:hover {
      cursor: no-drop;
      background-color: $lightGray;
      border: 2px solid $lightGray;
      color: darken($white, 3%);
    }
    &:active {
      background-color: $lightGray;
      border: 2px solid $lightGray;
      color: darken($white, 3%);
    }
  }
}

/*FOR DEMO PURPOSES ONLY*/
.button-demo {
  padding: 20px;
  border: 2px solid $red;
  width: 800px;
  margin: 0 auto;
  position: relative;
  top: 200px;
  background-color: $white;
}