.developer-videos {
  position: relative;
  background: none;
  padding-bottom: 1em;
  font-size: 1.0rem;
  width: 100%;
}
.developer-videos__wrapper {
  max-width: 96rem;
  width: 100%;
  min-height: 500px;
  height: auto;
  margin: 0 auto;
  background-color: $white;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-left: 0.2em;

}
 .developer-videos__title {
   font-size: 2.7em;
   font-weight: 300;
   opacity: 0.7;
   margin-left: 1.5em;
   margin-top: 1.3em;
   margin-bottom: 1.3em;
   text-transform: capitalize;
   text-align: center;
   font-size: 2.7em;
   font-weight: 300;
   opacity: 0.7;
   margin-left: 1.5em;
   margin-top: 1.3em;
   margin-bottom: 0;
   text-transform: capitalize;
   text-align: center;
}
.developer_videos__container {
  position: relative;
  padding-bottom: 5.25%;
  padding-top: 0px;
  padding-top: 0;
  padding-right: 10px;
  overflow: hidden;
}

li.developer-videos__container {
  list-style: none;
} 
.developer-videos__name {
  color: $red;
  font-weight: 100;
  font-size: 1.4rem;
  margin: 10px 0;
}
.developer-videos__location {
  font-size: 2rem;
  font-weight: 300;
  margin: 60px 0 0 0;
}
.developer-videos__load-more {
  margin: 50px 0;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
}
.player__video {
  width: 560px;
}
/* custom video controls */
.developer-videos__video-controls {
  width: 541px;
  margin-left: 4px;
  margin-top: 2px;
  position: relative;
  bottom: 37px;
  padding: 5px;
  opacity: 1;
  transition: opacity .3s;
  // background-image: linear-gradient(bottom, 
  // rgb(3,113,168) 13%, rgb(0,136,204) 100%);
  //   background-image: -webkit-gradient(
	//   linear,
	//   to left bottom,
	//   to left top,
	//   color-stop(0.13, rgb(3,113,168)),
	//   color-stop(1, rgb(36, 44, 48))
	// );
}
 
.video-control{
  background: rgba(0,0,0,.5);
  border: 0;
  color: #EEE;
  border-radius: 3px;

}
  .video-control:hover {
  cursor: pointer;
}

.seek-bar {
  width: 270px;
}

.volume-bar {
  width: 60px;
}

