.site-footer {
  background: #3A3A3C;
  color: $white;
  min-height: 400px;
  width: 100%;

  a {
    color: white;
    text-decoration: none;
  }

  .footer-home {
    margin: 100px 0 0 150px;

    a {
      font-size: 50px;
    }
  }

  .footer-links-row {
    display: flex;
    margin-left: 150px;

    .footer-links{
      margin-top: 30px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          padding: 10px;
        }

        li .twitter {
          font-size: 2em;
          margin-left: 20px;
          margin-top: 5px;
        }
      }
    }

    .footer-subscription-link {
      display: block;
      margin-left:100px;
      margin-top: 10px;

      fieldset {
        align-content: center;
        border: 0;
        display: flex;
        margin: 10px 0 0 0;
        padding: 0;

        input {
          background-color: $white;
          border: none;
          font-size: 0.8em;
          font-weight: 600;
          height: 45px;
          padding: 0 0 0 10px;
          width: 200px;
        }

        .submit-subscription-logo , .submit-subscription-button {
          height: 45px;
          line-height: 45px;  
          text-align: center;
          i {
            display: inline-block;
            vertical-align: middle;
          }        
        }

        .submit-subscription-logo {
          width: 30px;
        }     

        .submit-subscription-button {
          background: #909091;
          width: 50px;
        }      
      }
    }
  }
}