html {
  box-sizing: border-box;
}

// set all elements to border-box styling
*,*:before, *:after {
  box-sizing: border-box;
}


html, body {
  width: 100%;
  height: 100%;
  font-family: $fontType;
}

body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.top-news, 
.blog,
.developer-videos {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1480px;
}

.site-footer,.site-header  {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-news {
  background: orange;
}

.section-wrapper {
  width: 100%; 
  max-width: 1480px;
}

.twitter-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
    & > h1, & > h2{
      grid-template-columns: 1fr;
      grid-column: 1 / -1;
      margin-bottom: 30px;
    }
  grid-column-gap: 20px;  

  .twitterLogo {
    width: 60px;
    margin: 0 0 -10px;
  }
}
