.slideout-menu {
  width: 100%;
  height: 100%;
  max-width: 320px;
  position: fixed;
  top: 45%;
  right: 0;
  transform: translateY(-45%);

   &__ic-whatshot,
   &__ic-bookmark,
   &__ic-notification {
      cursor: pointer;
      border-width: 2px;
      border-style: solid;
      margin: 0.45rem 0;
      width: 36px;
      height: 36px;
      position: absolute;
      right: 0;
      color: $white;
      transition: all 0.3s ease;
      z-index: 20;
    }

   &__ic-whatshot {
      top: 500px;	
      background: $blue;
      border-color: $blue;
    }

   &__ic-bookmark {
      top: 546px;
      background: $green;
      border-color: $green;
    }   

   &__ic-notification {
     top: 592px;
     background: $orange;
     border-color: $orange;
   }


    &__icons {
      width: 100%;
      max-width: 15px;
      height: auto;
    }

    &__content {
      padding: 1.5rem;  
      position: absolute;
      top: 507px;
      right: -322px;
      background: $white;
      width: 100%;
      max-width: 270px;
      height: 520px;
      overflow: hidden;
      transition: all 0.3s ease;
    }

    &__content-heading {
      font-weight: 500;
      font-size: $baseFontSize * 1.5;
      margin-top: 0;
    }

    &__content-list {
      list-style-type: none;
      padding: 0;
    }

    &__content-list-item {
     font-weight: 500;
     padding: 0.8rem 0;  	
     font-size: $baseFontSize * 1.07;
     position: relative;

       &-head {
         max-width: 230px;
         margin-right: 0.5rem;
       }
    }

    &__content-list-item-title {
      padding: 0.3rem 0.5rem;  
      position: relative;
      border: 1px solid $red;
      margin: 1.3rem 0;	
    }

    &__gradient-bg {
      background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &--whatshot {
      color: $blue;
      border: 2px solid $blue;
    }

    &--bookmark {
      color: $green;
      border: 2px solid $green;
    }

    &--notification {
      color: $orange;
      border: 2px solid $orange;
    }

    &--icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--icons-list-item {
     color: darken($lightGray, 15%);  
     position: absolute;
     right: 0;
     top: 0; 
     margin-top: 13px; 
     transition: all 0.5s ease;	

       &:hover {
         color: $gray;
       }
    }

    &--icons-list-item-close {
     position: absolute;
     left: 0;
     top: 13px; 
     margin-right: 0.5rem;
     color: darken($lightGray, 15%);  
     transition: all 0.5s ease;

       &:hover {
         color: $gray;
       }
    }

    &--title {
     margin-left: 35px;    	
     display: inline-block;
    }

    &--title-action,
    &--title-action-close {
      color: $red;
      font-size: $smFontSize;     	
    }

    &--title-action-close {
      position: absolute;
      top: 55%;
      right: 8px;
      transform: translateY(-55%);
    }

    &__btn-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 25px;
      text-align: center; 
      color: $white;
      line-height: 25px;
    }
}

.icon-small { 
  font-size: $baseFontSize; 
}

.btn-close--whatshot {
   background: $blue;
 }

 .btn-close--bookmark {
   background: $green;
 }

 .btn-close--notification {
   background: $orange;
 }

#slideout-menu-icon-whatshot,
#slideout-menu-icon-bookmark,
#slideout-menu-icon-notification {
  display: none;	
}

// #slideout-menu-icon-whatshot:checked + label.slideout-menu__ic-whatshot,
// #slideout-menu-icon-bookmark:checked + label.slideout-menu__ic-bookmark,
// #slideout-menu-icon-notification:checked + label.slideout-menu__ic-notification {
//   background: $white;
//   border-right: 1px solid $white;
//   right: 320px;
//   width: 47px;
// }

#slideout-menu-icon-whatshot:checked + label.slideout-menu__ic-whatshot {
  color: $blue;
}

#slideout-menu-icon-bookmark:checked + label.slideout-menu__ic-bookmark {
  color: $green;
}

#slideout-menu-icon-notification:checked + label.slideout-menu__ic-notification {
  color: $orange;
}

#slideout-menu-icon-whatshot:checked + label.slideout-menu__ic-whatshot + div,
#slideout-menu-icon-bookmark:checked + label.slideout-menu__ic-bookmark + div,
#slideout-menu-icon-notification:checked + label.slideout-menu__ic-notification + div {
  right: 0;
}