.submit-article {
  box-sizing: border-box;
  width: 420px;
  border-radius: 2.5px;
  border: 2px solid $red;
  font-weight: 200;
  background-color: $white;
  position: relative;
  top: 100px;
  left: 500px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    right: 4rem;
    border: 12px solid transparent;
    box-sizing: border-box;
    border-bottom: 16px solid $red;
    transform: translateY(-100%);
  }
  * {
    box-sizing: border-box;
    &:focus {
      outline: 0;
      box-shadow: 0 0 5px 1px rgba(100, 100, 100, .10);
      transition: box-shadow .3s ease-in-out;
    }
  }
  &__header {
    background-color: $red;
    color: $white;
    margin: 0;
    text-align: center;
    padding: 14px 0;
    font-weight: 200;
  }
  &__inputs {
    padding: 11px 16px;
    margin: auto 15px;
    font-size: 90%;
    position: relative;
  }
  &__input {
    display: block;
    width: 100%;
    border: 1.25px solid $red;
    margin: 19px 0;
    padding: 5px 8px;
    border-radius: 2px;
    &::placeholder {
      color: $medGray;
      font-size: 75%;
      letter-spacing: .9px;
    }
    &-select,
    &-textarea {
      &-label {
        position: relative;
        font-size: 80%;
      }
      -webkit-appearance: none;
      -moz-appearance: none;
      margin-top: 6px;
      background: transparent;
    }
    &-select {
      height: 30px;
      &-arrow {
        position: relative;
        left: 330px;
        top: -41px;
        color: $red;
        pointer-events: none;
        font-size: 14px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &-textarea {
      height: 110px;
      resize: none;
      overflow: auto;
    }
    &-thirty-five {
      width: 35%;
    }
  }
  &--button {
    margin: 30px auto!important;
    display: block!important;
  }
}