.top-news {
  position: relative;
  background: none;
  padding: 1em;
  margin-top: 2em;
}

.top-news__article-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 80%;
}

//submit button 
#submit-article {
  position: absolute;
  right: 4em;
  top: 2em;
}

// title of site 
.top-news__title {
  font-size: 3rem;
  margin-left: 1em;
  margin-top: 35px;
  text-transform: capitalize;
}

.top-news__article {
  width: 310px;
  color: #464648;
  padding: 0 2rem;
  margin: 1rem;
}

.top-news__article-title {
  font-size: 2rem;
  font-weight: 100;
  text-align: left;
  padding-bottom: 10px;
  text-transform: capitalize;
  margin: 0;
  padding-right: 1.3em;
}

.top-news__article-summary {
  font-weight: 600;
  font-size: 1.1rem;
  padding-top: 1em;
  line-height: 2;
  font-family: sans-serif;
}

.top-news--top-highlight {
  border-top: 3px solid $red;
}

.border-corner--triple {
  top: 20px;
  left: 20px;
  position: absolute;
  width: 110px;
  height: 50px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  &::after,
  &::before {
    content: '';
    width: 110px;
    height: 50px;
    border-left: 1px solid black;
    border-top: 1px solid black;
  }
  &::after {
    position: absolute;
    bottom: -15px;
    left: 10px;
  }
  &::before {
    position: absolute;
    top: -15px;
    left: -10px;
  }
}