.media-small {
  display: flex; 
  width: 98%;
}

.media-small-bottom {
  border-top: 2px solid $red;
  padding-top: 20px;
  display: flex;
}

.media-small-bottom-item:first-child {
  margin-right: 10px;
}

.media-small-bottom-item:last-child {
  display: flex;
  flex-direction: column;
}

.media-small-bottom-item:nth-child(3) {
  margin-left: auto;
}

.media-small-bottom-item:nth-child(3),
.media-small-bottom-item:nth-child(4) {
  margin-right: 50px;
  display: flex;
  align-items: flex-start;
}

.media-small-top {
  display: flex;
}

.media-small-top-item:last-child {
  display: flex;
  flex-direction: row;
}

.media-small-top-item:last-child>* {
  padding-right: 10px;
  padding-left: 10px;
}

.media-small-content {
  width: 95%;
  margin-top: 0;
}

.media-small-img-container {
  border: 1px solid black;
  height: 250px;
  width: 350px;
  background: url('assets/images/robot.jpg');
}

.media-content-right {
  padding: 15px;
  // padding-top:15px;
  // padding-bottom: 15px;
  // padding-right: 0;
  // padding-left: 0;
  width: 80%;
}

.content-tag {
  background-color: $lightGray;
  border-radius: 5px;
  font-size: 80%;
  padding: 7px;
  text-decoration: none;
}

.content-tag:visited,
.content-tag:link {
  color: $gray;
}

.eye {
  font-size: 140%;
}

.chat-bubble,
.more,
.eye,
.open_new,
.filter_none {
  color: $gray;
}

.more {
  padding-top: 5px;
  font-size: 70%;
}

.number {
  color: $red;
  font-weight: 600;
  padding-top: 3px;
  padding-left: 3px;
}

.three-d {
  color: $red;
}