.media-small {
  border:1px solid black;
  display: flex;
  // align-items: center;
  width:100%;
}

.media-small-bottom {
  border-top: 2px solid $red;
  padding-top:20px;
  display: flex;
  
}


.media-small-bottom-item:first-child {
  margin-right:10px;
}

.media-small-bottom-item:last-child {
  display: flex;
  flex-direction: column;
}

.media-small-bottom-item:nth-child(3) {
  margin-left: auto;
}

.media-small-bottom-item:nth-child(3),
.media-small-bottom-item:nth-child(4) {
  margin-right:30px;
}

.media-small-top {
  display: flex;
}

.media-small-top-item:last-child {
  // border:1px solid red;
  display: flex;
  flex-direction: row;
  // flex-direction: column;
}

.media-small-top-item:first-child {
  width:95%;
}

.media-small-top-item:last-child > * {
  padding-right:10px;
  padding-left:10px;
}
.media-small-content {
  margin-top:0;
}

.media-small-img-container {
  border: 1px solid black;
  height:250px;
  width:350px;
}

.media-content-right {
  padding:15px;
}

.content-tag {
  background-color: $gray;
}

