


.media-object {
  width: 900px;
  min-width: 320px;
  max-width: 90%;
  margin: 0 auto;
}
.media-object__head {
  display: flex;
  justify-content: space-between;
}



.media-object__banner-img {
  background: url('../assets/images/code.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  height: 400px;
  border-bottom: 3px solid HSL(356, 92%, 70%);
  box-shadow: 0 0 15px rgba(0,0,0,.2);
}