.media-object-twitter {
  display: inline-grid;
  grid-template-columns: 1fr 3fr;
  max-width: 35%;
  margin: 30px 50px;

  .tw-user {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;

    &-img-contain{
      width: 50px;
      height: 50px;
      overflow: hidden;
      background-image: url('/assets/images/meTest.jpg');
      background-size: cover;
    }

    &-details {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
    }

    &-name {
      font-weight: bold;
      padding-bottom: 5px;
      white-space: nowrap;
    }
    
    &-handle {
      color: $medGray;
      font-size: 0.85rem;
    }
  }

  .tw-follow {
    padding: 15px 20px;
    justify-self: end;

    a {
      text-decoration: none;
    }
    
    .twitterFollowBtn{
        width: 20px;
     }
  }

  .tw-message {
    padding: 0 20px;
    grid-column: span 2;
    font-weight: bold;
  }

  .tw-posted-on {
    color: $medGray;
    padding: 15px 20px 10px;
    font-weight: bold;
    font-size: 0.85rem;
    grid-column: span 2;
  }

  hr {
    background-color: $red;
    width: 100%;
    border: 0;
    height: 2px;
    padding: 0;
    grid-column: span 2;
  }

  .tw-action {
    padding: 10px 20px 10px 0;
    grid-column: span 2;
    font-size: 1.2rem;

    & > span{
      padding: 0 20px;
      color: $medGray;

      span{
        color: $red;
        font-weight: bold;
      }
    }
  }
}