$red: rgb(248, 110, 120);
$white: rgb(255, 255, 255);

//green
$green: rgb(127, 232, 164);
$lightGreen: lighten($green, 18);

//orange
$orange: rgb(255, 150, 0);
$lightOrange: lighten($orange, 0);

//blue
$blue: rgb(57, 195, 217);
$lightBlue: darken($blue, 0);

// blacks
$black: rgb(0, 0, 0);
$mediumBlack: lighten($black, 20);

// grays
$gray: lighten($black, 30);
$lightGray: lighten($black,75);
$medGray: lighten($black, 45);

