$red: rgb(253, 125, 125);
$white: rgb(255, 255, 255);

//green
$green: rgb(0, 128, 0);
$lightGreen: lighten($green, 18);

//orange
$orange: rgb(255, 165, 0);
$lightOrange: lighten($orange, 0);

//blue
$blue: rgb(56, 155, 236);
$lightBlue: darken($blue, 0);

// blacks
$black: rgb(0, 0, 0);
$mediumBlack: lighten($black, 20);

// grays
$gray: lighten($black, 30);
$lightGray: lighten($black,75);
$medGray: lighten($black, 45);

